@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Panton-SemiBold";
  src: url("/fonts/47a8ea40a6adb66d377bd4931fa3e394.eot"); /* IE9*/
  src: url("/fonts/47a8ea40a6adb66d377bd4931fa3e394.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/47a8ea40a6adb66d377bd4931fa3e394.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/47a8ea40a6adb66d377bd4931fa3e394.woff") format("woff"), /* chrome、firefox */
  url("/fonts/47a8ea40a6adb66d377bd4931fa3e394.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/47a8ea40a6adb66d377bd4931fa3e394.svg#Panton-SemiBold") format("svg"); /* iOS 4.1- */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family:"Panton-SemiBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

a:hover {
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.chat-conversations ol, .chat-conversations  ul, .chat-conversations  li{
  list-style: auto;
  margin:10px;
}
